$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$soft-orange: hsl(35, 77%, 62%);

@mixin mobile {
    @media screen and (max-width: 376px) {
        @content
    }
};

@mixin tablet {
    @media screen and (max-width: 1150px) {
        @content
    }
};


header {
    background-color: white;
    padding-top: 1rem;
}

.navbar {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;

    .logo__container{
        display: flex;
        align-items: center;
    }

    .mobile__menu {
        display: none;

        height: 20px;
        width: 35px;
        margin: auto 0;

        @include mobile {
            display: inline-flex;
        }
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        gap: .6rem;

        @include mobile {
            display: none;
        }

        .nav__link {
            color: $dark-grayish-blue;
            list-style: none;

            a {
                text-decoration: none;
                color: $dark-grayish-blue;
                transition: .4s;
                &:hover {
                    color: $soft-orange;
                }

                @include tablet {
                    font-size: 12px;
                }
            }
        }
    }


}