$dark-grayish-blue: hsl(236, 13%, 42%);
$very-dark-blue: hsl(240, 100%, 5%);
$soft-orange: hsl(35, 77%, 62%);


@mixin mobile {
    @media screen and (max-width: 376px) {
        @content
    }
};

@mixin tablet {
    @media screen and (max-width: 1150px) {
        @content
    }
};


header {
    background-color: white;
    padding-top: 1rem;
}

.menu {
    width: 66%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0%;
    top: 0;
    overflow: hidden;
    z-index: 99999;
    transition: 1s ;

    .close__container {
        padding: 1rem 1rem;
        display: flex;
        justify-content: flex-end;
    }

    .nav__links {
        list-style: none;
        
        .nav__link {
            margin-bottom: 1rem;
        }

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.hidden {
    width: 0;
}

.visible {
    display: inherit;
}

.navbar {
    margin: 0 auto;
    max-width: 70rem;
    display: flex;
    justify-content: space-between;

    .logo__container{
        display: flex;
        align-items: center;
    }

    .burger-menu {
        display: none;

        @include mobile {
            display: flex;
            align-items: center;
        }

        .mobile__menu {
            height: 20px;
            width: 35px;
            margin: auto 0;
        }
    }

    .nav__links {
        display: flex;
        justify-content: space-between;
        gap: .6rem;

        @include mobile {
            display: none;
        }

        .nav__link {
            color: $dark-grayish-blue;
            list-style: none;

            a {
                text-decoration: none;
                color: $dark-grayish-blue;
                transition: .4s;
                &:hover {
                    color: $soft-orange;
                }

                @include tablet {
                    font-size: 12px;
                }
            }
        }
    }


}